<p><%= @event.value %></p>
<p><%= @event.long %></p>
<p><%= @event.lat %></p>
<p><%= @event.color %></p>
<!-- lat: -25.363
lng: 131.044 -->




  <div id="map"></div>
    <script>
      var map;
      var latitude = <%= @event.lat.to_f %>;
      console.log(latitude);
      var longitude = <%= @event.long.to_f %>;
      console.log(longitude);
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: latitude, lng: longitude},
          zoom: 4
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_TOKEN"] %>&callback=initMap"
    async defer></script>


