<div class="map-page">
  <% if  @event.color == 'red' %>
    <img class="color-pic" src="/images/red.jpg">
  <% elsif @event.color == 'orange'%>
    <img class="color-pic" src="/images/orange.jpg">
  <% elsif @event.color == 'yellow'%>
    <img class="color-pic" src="/images/yellow.jpg">
  <% elsif @event.color == 'green'%>
    <img class="color-pic" src="/images/green.jpg">
  <% elsif @event.color == 'blue'%>
    <img class="color-pic" src="/images/blue.jpg">
  <% elsif @event.color == 'purple'%>
    <img class="color-pic" src="/images/purple.jpg">
  <% end %>
  <img id="chart" class="centered" src="/images/colors_explained.gif" alt="chart explaining why different colors are represented in an aurora borealis" height="200" width="300">

  <div class="text">
  <p>There is a <%= @event.value %>% chance that an aurora borealis event will occur at this location based on current conditions.</p>
  <p>predicted sky color: <%= @event.color %></p>
  </div>


  <div id="map"></div>
    <script>
      var map;
      var latitude = <%= @event.lat.to_f %>;
      var longitude = <%= @event.long.to_f %>;
      var uluru = {lat: latitude, lng: longitude};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 4
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        var circle = new google.maps.Circle({
          strokeColor: "#006DFC",
          strokeOpacity: 0.4,
          strokeWeight: 2,
          fillColor: "#006DFC",
          fillOpacity: 0.15,
          map: map,
          radius: 50093 // in meters
        });
        var cityCircle = new google.maps.Circle(circle);
    circle.bindTo('center', marker, 'position');
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_TOKEN"] %>&callback=initMap"
    async defer></script>

  <!-- <img id="aurora-pic" src="/images/stars.jpeg"> -->
</div>
